
<span *ngIf = "!isEdit" >Tile: {{post.title}} </span><!--if not editing stay stil-->

<button (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button><!--delete is const buttona, edit is daynamic-->
<span *ngIf = "isEdit" >Title: <input type="text" [(ngModel)] = "post.title"> </span><!--if is edit chnge html to edit-->

